@charset "utf-8";
html,
body {
    background-color: #000000;
    font-family: 'Fira Mono', 'Ubuntu Mono', 'Courier', monospace;
    color: #EEE;
    font-size: 14pt;
}

.track {
    margin: 40px auto;
}

.track:before {
    content: '*';
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.side {
    grid-column: span 3;
}

.play-btn {
    margin-top: 20px;
    padding: 2px;
    text-align: center;
    font-size: 30pt;
}

.play-btn:hover {
    cursor: pointer;
}

.content {
    grid-column: span 6;
}
