@charset "utf-8";
html,
body {
    background-color: #000000;
    font-family: 'Fira Mono', 'Ubuntu Mono', 'Courier', monospace;
    color: #EEE;
    font-size: 14pt;
}

.track {
    margin: 30px auto;
}

.track:before {
    content: '*';
}

.wrapper {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.side {
    grid-column: span 1;
}

.content {
    grid-column: span 10;
}

.play-btn {
    margin: 0;
    width: 34px;
    font-size: 16pt;
}

.play-btn:hover {
    cursor: pointer;
}

.play-svg {
    vertical-align: middle;
    width: 2.0em;
    height: 2.0em;
    transition: fill 0.16s linear;
    fill: #EEE;
}

.play-svg:hover {
    fill: #FFF;
    transition: none;
}
